/* src/app/login/login.component.css */

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #274da8 !important;
  }
  
  .login-container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
//   form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
  /* Add any additional styles as needed */
  