<!-- app.component.html -->
<form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">

    <!-- Holiday Name-->
    <mat-form-field>
        <input matInput placeholder="Holiday Name" formControlName="holidayName">
    </mat-form-field>


    <!-- Holiday Date (Datepicker) -->
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="holidayDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Holiday Type (Dropdown) -->
    <mat-form-field>
        <mat-label>Holiday Type</mat-label>
        <mat-select formControlName="holidayType">
            <!-- Add your designation options here -->
            <mat-option value="option1">National Holiday</mat-option>
            <mat-option value="option2">Fixed Holiday</mat-option>
            <mat-option value="option2">Optional Holiday</mat-option>
            <!-- Add more options as needed -->
        </mat-select>
    </mat-form-field>



    <button type="submit" mat-raised-button color="primary">Submit</button>
    <button type="button" mat-button (click)="onReset()">Reset</button>
    <button type="button" mat-button (click)="onBack()">Back</button>
</form>