body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .container {
    min-height: 100%;
    position: relative;
  }
  
  .add-button {
    position: fixed;
    bottom: 16px; /* Adjust this value to your desired distance from the bottom */
    right: 16px; /* Adjust this value to your desired distance from the right */
    background-color: #6365A9 !important;
  }